/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

nav ul {
    display: none;
}

nav {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 100px;
}

.right-nav button {
    background: transparent;
    border: 0;
}

header {
    background-color: #540B51;
    /* background-image: url(./../images/background-singup.png);
    background-size: cover; */
    color: white;
    height: 700px;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 100px;
}

.left-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header button {
    width: 364px;
    height: 44px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

header button img {
    height: 2em;
    width: 2em;
    background-color: white;
}

.email-button {
    color: #540B51;
}

.google-button {
    color: white;
    background-color: #4285F4;
}

/* header {
    display: flex;
    align-items: center;
} */

.trust-section {
    background-color: #F3EAE2;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.trust-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.trust-section img {
    width: 100px;
}

.percentages-section h3 {
    color: #540B51;
    font-size: 1.6em;
}

.percentages-section span {
    color: #540B51;
    font-size: 2.7em;
}

.percentages-section {
    text-align: center;
    font-weight: bolder;
}

.percentages-section li {
    list-style: none;
    margin-left: -40px;
}

.welcome-section {
    background-color: #540B51;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.welcome-section button {
    width: 364px;
    height: 44px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

.try-button {
    color: #540B51;
}

.sales-button {
    color: white;
    background-color: #540B51;
    border: #F3EAE2;
    border: 1px solid;
}

hr {
    margin: 20px;
}

footer li {
    list-style: none;
    font-weight: bolder;
    margin: 10px;
}

.footer-menu img {
    width: 15px;
    margin: 5px 10px 0 0;
}

.download-link {
    color: #4285F4;
}

.icon-list {
    display: flex;
    justify-content: space-between;
    align-items: flex start;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        background-image: url(./../images/background-singup.png);
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .percentages-section ul p {
        font: 3px;
    }

    .percentages-section ul {
        display: flex;
        justify-content: space-between;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
    }

}